<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xavey.android"
    android:versionCode="12"
    android:versionName="1.10.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- SyncAdapter Permissions -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <!-- GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- External Storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- Device ID -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Recording -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".XaveyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.xavey.android.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.xavey.android.LoginActivity"
            android:label="User Login" 
            android:screenOrientation="portrait"
            />
        <activity 
            android:name="com.xavey.android.DocumentInputActivity" 
            android:screenOrientation="portrait" 
            />
        <activity 
            android:name="com.xavey.android.ShowDocumentDetailActivity" 
            android:screenOrientation="portrait"
            />
        <activity 
            android:name="com.xavey.android.SignatureActivity" 
            android:screenOrientation="portrait"
            />
        <activity 
            android:name="com.xavey.android.testing.TestActivity" 
            android:screenOrientation="portrait"
            />
		<activity 
		    android:name="com.xavey.android.util.DrawSignature" 
		    android:screenOrientation="portrait"
		    />
		<activity 
		    android:name="com.xavey.android.OneQuestionOneView" 
		    android:windowSoftInputMode="adjustPan"
		    android:screenOrientation="portrait"
		    />
        <!--
             <provider
                android:name=".provider.FeedProviderx"
                android:authorities="com.xavey.android"
                android:exported="false" />
        -->

        <service
            android:name="com.xavey.android.service.SyncService"
            android:exported="true"
            android:process=":sync" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
    </application>
</manifest>